RewriteEngine On

RewriteRule ^danh-sach-can-bo-giao-vien.html$ index.php

RewriteRule ^them-can-bo-giao-vien.html$ index.php?controller=GV&act=add

RewriteRule ^thuc-hien-them-can-bo-giao-vien.html$ index.php?controller=GV&act=do_add

RewriteRule ^sua-thong-tin-can-bo-giao-vien-(.*).html$ index.php?controller=GV&act=edit&id=$1

RewriteRule ^thuc-hien-sua-thong-tin-can-bo-giao-vien-(.*).html$ index.php?controller=GV&act=do_edit&id=$1

RewriteRule ^xoa-cbgv-id-(.*).html$ index.php?controller=GV&act=delete&id=$1